body {
	margin: 0;
	padding: 0;
	background: #086a51;
	font-family: 'Arvo', serif;
	font-size: 11px;
	color: #3B3B3B;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #ffdf1b;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.4em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #086a51;
}

a:hover {
}

/* Header 

#header-wrapper {
}

#header {
	clear: both;
	width: 100%;
	margin: none;
        background: url();
}
*/

/* Logo */

#logo {
	margin: 0px;
	padding: 10px 0px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	text-transform: lowercase;
	font-size: 3.8em;
        color: #323030;
}

#logo h1 span {
	color: #107710;
}

#logo p {
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	color: #3B3B3B;
}

#logo p a {
	color: #3B3B3B;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #323030;
}


/* Search */

#search {
	width: 100px;
	height: 10px;
	padding: 0px;
}

#search form {
	margin: 0px;
	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 145px;
	outline: none;
	background: #F5F0E7;
	border: 1px solid #D7D0C0;
	padding: 1px;
	border-radius: 1px;
	text-transform: lowercase;
	font-family: 'Open Sans', sans-serif;
	color: #086a51;
}

#search-submit {
	width: 17px;
	height: 20px;
	display: none;
	border: none;
	color: #FFFFFF;
}

/* Menu 

#menu-wrapper {
	overflow: hidden;
	height: 35px;
	background: #086a51;
	border-top: 1px solid #282323;
        border-bottom: 1px solid #282323;
}

#menu {
	width: 923px;
	height: 35px;
	margin: none;
	padding: none;
        position: absolute;
        /*left: 593px;*/
}

#menu ul {
	margin: 0;
	padding: none;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: right;
	border-left: 1px solid #026549;
        border-left: 1px solid #026549;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	margin: 1px;
	padding: 8px;
	text-decoration: none;
	text-align: center;
	/*text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 15px;*/
	font-weight: normal;
	color: #ffdf1b;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #086a51;
        border-bottom: 1px solid #ffdf1b;
	text-decoration: none;
	color: khaki;
}

#menu .current_page_item a {
	background: #086a51;
	border-radius: 0px auto;
}
*/
/* Page */

#page {
	overflow: hidden;
	width: 923px;
	margin: 1px auto;
	padding: 1px auto;
}


/* Content */

#content {
	float: left;
	width: 515px;
}

.post {
	margin-bottom: none;
	padding: none;
	border: 5px solid #b7b4b4;
	border-radius: 0px;
	background: #3a3838;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 30px;
	margin-bottom: 2px;
	padding: 0px auto;
	font-size: 24px;
}

.post .title a {
	border: none;
	color: #107710;
}

.post .meta {
	margin-bottom: 3px;
	padding: 5px 0px 10px 0px;
	text-align: left;
	font-weight: normal;
}

.posts .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 10px 0px;
	padding-bottom: 10px;
	text-align: justify;
}

.links {
	display: inline-block;
	height: 14px;
	padding: 1px 5px 1px 5px;
	font-size: 12px;
	font-weight: normal;
	color: #ffdf1b;
}

.button {
	padding: 10px 10px;
	background: #107710;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 12px;
	color: #1d1919;
}

.latar {
    background:
	url(http://amandannyaman.weebly.com/editor/uploads/5/9/8/0/59807993/custom_themes/366697960667229786/files/images/foto/tante_joget.gif) 0 100% no-repeat,
	url(http://amandannyaman.weebly.com/editor/uploads/5/9/8/0/59807993/custom_themes/366697960667229786/files/images/foto/julia.jpg) 0 100% no-repeat,
	url(http://amandannyaman.weebly.com/editor/uploads/5/9/8/0/59807993/custom_themes/366697960667229786/files/images/foto/womenpower.jpg) 0 100% no-repeat;
	width: 500px;
        height: 540px;
}

.overlay {
  width: 500px;
  height: 450px;
  position: absolute;
  top: 186px;
  left: 396px;
  background: transparent url(http://2.bp.blogspot.com/-8NbcCCOqN7Q/UH1Qji8YwoI/AAAAAAAABK0/fdt7VzmL1q4/s1600/overlay.png);
}

/* Sidebar */

#sidebar2
{
	float: right;
	width: 189px;
	padding: 5px 0px 0px 0px;
	border: 5px solid #b7b4b4;
	border-radius: 8px;
	background: #3d3838;
}

#sidebar {
	float: left;
	width: 189px;
	margin-right: 5px;
        padding: 5px 0px 0px 0px;       
	color: #ffdf1b;
	border: 5px solid #b7b4b4;
	border-radius: 8px;
	background: #3a3838;  
}
#sidebar ul, #sidebar2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li, #sidebar2 li {
	margin: 0;
	padding: 0;
}

#sidebar li ul, #sidebar2 li ul {
	margin: 0px 0px;
	padding-bottom: 1px;
}

#sidebar li li, #sidebar2 li li {
	border-bottom: 1px solid #543E40;
	margin: 0px 0px;
	padding: 0px 0px;
	border-left: none;        
}

#sidebar li li a, #sidebar2 li li a {
	color: khaki;        
}

#sidebar li li span, #sidebar2 li li span {
	display: block;
	padding: 0;
	font-size: 11px;
	font-style: 'Arvo', serif;
}

#sidebar h2, #sidebar2 h2 {
	padding-bottom: 2px;
	font-size: 1.4em;
	color: #ffdf1b;
}

#sidebar p, #sidebar2 p {
	margin: 0px;
	padding : 0px;
	text-align: justify;
}

#sidebar a, #sidebar2 a {
	border: none;
}

#sidebar a:hover, #sidebar2 a:hover {
	text-decoration: none;
}


/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}


/* Footer */

#footer {
	height: 3px;
	margin: 0 auto;
	padding: 0px 187px 3px 0;
	background: #086a51;
	border-top: 1px solid #000000;
	font-family: 'Arvo', serif;
}

#footer p {
	margin: 0;
	padding-top: 0px auto;
	line-height: normal;
	font-size: 8px;
	letter-spacing: 2px;
	text-transform: auto;
	text-align: right;
	color: #ffffff;
}

#footer a {
	color: #ffffff;
}

#banner {
	width: 0px auto;
	margin: 0px auto;
}

#banner img
{
	border-radius: 0px auto;
}
